.toc-box {
    bottom: 2em;
    position: fixed;
    transition: 0.4s;
}

.toc-main {
    background-color: white;
    border: solid 1px black;
    border-left: none;
    /* border-right: none; */
    border-radius: 0px 4px 0px 0px;
    padding: 1em;
}

.toc-main li {
    cursor: pointer;
}

.toc-main li span {
    color: rgb(51, 122, 183);
    text-decoration: underline;
}

.toc-tab {
    background-color: white;
    border: solid 1px black;
    border-left: none;
    border-radius: 0px 4px 4px 0px;
    bottom: 0;
    right: -2em;
    padding: 0.5em;
    cursor: pointer;
    position: absolute;
}

.toc-spacer {
    border-left: 1px solid black;
    background-color: red;
    position: absolute;
    right: 0;
    top: 0;
}
