/**
 * toc.css
 *
 * Default styles for ToC widget. Feel free
 * to override. Looks good w/ Bootstrap.
 *
 * Will Badart <wbadart@live.com>
 * created: OCT 2017
 */

/* Widget container */
.toc-box {
    position: fixed;
    transition: 0.4s;
}

/* Widget body; contains header listing */
.toc-main {
    background-color: white;
    border: solid 1px black;
    border-left: none;
    padding: 1em;
}

/* Emulates anchor styling */
.toc-link { cursor: pointer }
.toc-link:hover { color: rgb(51, 122, 183) }

/* The little side nugget with the icon */
.toc-tab {
    background-color: white;
    border: solid 1px black;
    border-left: none;
    border-radius: 0px 4px 4px 0px;
    right: -2em;
    padding: 0.5em;
    cursor: pointer;
    position: absolute;
}

/* Optional link to top of page */
.toc-top { margin: 0.7em 0 0 0 }
.toc-top i { margin-right: 0.2em }
