.toc-box {
    position: fixed;
    transition: 0.4s;
}

.toc-main {
    background-color: white;
    border: solid 1px black;
    border-left: none;
    padding: 1em;
}

.toc-main li {
    cursor: pointer;
}

.toc-main li span {
    color: rgb(51, 122, 183);
    text-decoration: underline;
}

.toc-tab {
    background-color: white;
    border: solid 1px black;
    border-left: none;
    border-radius: 0px 4px 4px 0px;
    right: -2em;
    padding: 0.5em;
    cursor: pointer;
    position: absolute;
}
